<% include ../partials/header %>

<div class="container">
    <h1>Enter a new comments for the following campground: <%=campground.name%></h1>    <div style="width: 30%; margin: 25px auto;">
        <form action="/campgrounds/<%=campground._id%>/comments" name="name" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
            </div>
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </form>  
        <a href="/campgrounds" >go back to campgrounds</a>
    </div>
</div>




<% include ../partials/footer %>
